form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

h2 {
  padding: 10px;
}

label {
  font-weight: bold;
}

form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  font-family: 'Bungee', cursive;
  font-size: 20px;
}

textarea {
  resize: none;
  border: none;
  border-bottom: 3px solid;
  outline: none;
  background-color: transparent;
}

button {
  border: none;
  padding: 2px 10px;
  background-color: #4056A1;
  color: #FFFFFF;
}

.negativeVal {
  color: red;
}

.errorMsg {
  color: red;
  font-size:x-large;
  font-weight:500;
  border: 2px solid;
  padding: 5px;
}