/* Tablet, Desktop Styles */
@media only screen and (min-width: 768px)  {
  nav {
    height: 100px;
    background-color: #4056A1;
  }

  .response-container {
    width: 95%;
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    margin-top: 100px;
  }

  header.pageHeader {
    width: 33%;
    height: 360px;
    margin-top: 50px;
    margin-right: 120px;
    padding-top: 0px;
  }

  .headerName {
    font-size: 24px;
  }

  .container {
    width: 67%;
  }
}
