article {
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-bottom: 0px;
  border: 3px solid;
  margin-top: 50px;
}

article:hover {
  box-shadow: 7px 7px #c3c3e4c3;
}

article header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  font-size: 18px;
}

article header div {
  display: flex;
  align-items: center;
}

article header div img {
  width: 40px;
  margin-right: 10px;
}

article p {
  word-break: break-all;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

article footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 3px solid;
}

article header div.handle {
  color: #c3c3e4c3;
  font-weight: bold;
}

footer .fa-solid {
  color: #4056A1;
  padding-left: 7px;
  cursor: pointer;
}

footer .fa-solid:hover {
  color: rgb(187, 187, 28);
}